//META{"name":"Rainbow","description":"Links: <b><a href='https://github.com/Derramir/Theme-Discord' target='_new'>Github</a></b>","author":"Derramir","version":"1.0"}*//


@import url(https://cdn.rawgit.com/Derramir/Theme-Discord/master/Code.css);

:root {
	--main-color: #F6DC12;
	--hover-color: #F6DC12;
}

body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://gyazo.com/956fe8138a31e18a7aa19b8fc2194db3.jpg) 
}